/* make sure the images don't overlap with the next section if the text is too short */
h3 {
	clear: both;
}

p {
	text-align: justify;
}

/* img formatting */

main img {
	width: 250px;
}

figcaption {
	font-style: italic;
}

/* alternating left and right, not possible with nth-child(even) since they're not siblings */
#img1, #img3 {
	margin: 0 5px 0 0;
	float: left;
}

#img2 {
	margin: 0 0 0 5px;
	float: right;
}