/* make sure the images don't overlap with the next section if the text is too short */
h3 {
	clear: both;
}

p {
	text-align: justify;
}

/* img formatting */

main img {
	width: 150px;
}

/* alternating left and right, not possible with nth-child(even) since they're not sibling */
#img1, #img3 {
	margin: 0 5px 0 0;
	float: left;
}

#img2 {
	margin: 0 0 0 5px;
	float: right;
}