/*
Styling specific for home page
*/

/*JUMBOTRON STYLING*/
.about {
	/*Bootstrap-style jumbotron with parallax effect*/
	height: 400px;
	background: url("../images/building.jpg") fixed center top;
	background-size: cover;
	padding: 50px;
	text-align: justify;

	color: white; /* make text readable over picture */
}

.about .content {
	/*TODO make text more readable*/
	/*overlay for welcome text*/
	padding: 10px 20px;
	/*get rounded corners on overlay*/
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;

	line-height: 1.2;

	background-color: rgba(0, 0, 0, 0.3);
}


@media (max-width: 480px) {
	/*make overlay fill the whole image on mobile and decrease size to better accomodate for limited height*/
	.about {
		padding: 0;
		height: 300px;
	}
	.about .content {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		border-radius: 0;

		padding-bottom: 0;

		height: 100%;
	}
}

/*NEWS STYLING*/

#news section {
	/*make sure section fills width without running into floats*/
	clear: both;
	padding: 0;
	margin: 0;
}

#news a {
	/*styling articles to not stand out as classic links*/
	color: black;
	text-decoration: none;
}

#news a:hover {
	/*add a visual element to the links*/
	color: grey;
}

.newsbtn {
	width: 100%;
	padding: 10px;
	float: bottom;
}
