
/* FORM STYLING */

form {
	/*center in page*/
	width: 65%;
	margin: 0 auto;
}

fieldset {
	margin: 20px 0;
}

label, input {
	display: inline-block;
	padding: 5px 0;
}

/* labels and inputs are aligned on the same line on bigger screens */

label {
	width: 30%;
	/*text-align: right;*/
	vertical-align: top;
}

input, select, textarea {
	width: 50%;
	margin: 0 10% 0 4%;
	vertical-align: middle;
}

textarea {
	/* taller box + no resizing since it messed up the styling */
	height: 5em;
	margin-top: 10px;
	resize: none;
}

#submit {
	width: 100%;
	margin: 0;
}

@media (max-width: 768px) {
	/* labels and inputs get stacked */
	form {
		width: 100%;
	}

	label, input, select, textarea {
		width: 100%;
		margin: 0;
		text-align: left;
	}

	/* checkboxes are kept together with their labels */
	.checkbox-group {
		display: block;
	}

	.checkbox-group label, .checkbox-group input {
		width: 30%;
	}
}

