$font-stack: Helvetica;
$primary-color: #d7d7d7;

body {
	font: 100% $font-stack;
	margin: -20px; // chrome body margin compensation
	//background-color: $primary-color;

	.content, main, nav, footer {
		max-width: 960px;
		margin-left: auto;
		margin-right: auto;
	}

	.about {
		height: 250px;
		background: url("http://placehold.it/1000x1000") fixed top center;
		background-size: cover;
		padding: 20px;
		text-align: justify;
	}

	header {
		background-color: aliceblue;
		height: 80px;
		margin-bottom: 0px;
		img {
			height: 60px;
			float: left;
			padding: 10px;
		}
		h1 {
			margin-bottom: -10px;
		}
	}

	footer {

		margin-top: 40px;
		margin-bottom: 20px;

		address {
			float: left;
		}
		small {
			float: right;
		}
	}
}