/*
General site-wide styling
*/

body {
	font-family: helvetica, sans-serif;
	min-height: 100%;
}

h2 {
	/*increase font size, decrease top and bottom margins*/
	font-size: 2rem;
	margin: 20px 0;
}

.content, main, nav, footer {
	/*set width, alignment and margins for elements not spanning the whole width */
	max-width: 960px;
	min-width: 300px;
	margin: 0 auto; /* center horizontally */
}

/*set text selection colors to complement colour scheme*/
::selection {
	color: white;
	background: grey;
}
/*firefox compatibility*/
::-moz-selection {
	color: white;
	background: grey;
}

/* black to suit colour scheme better, underlined for visual hint */
a {
	color: black;
}

a:visited {
	color: black;
}

a:hover {
	color: grey;
}

/* button styling */
button {
	background-color: #e7e7e7;
	color: black;
	border: none;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 1.2rem;
}

/*CONFIRMATION STYLING*/
p.form_done {
	background: lightgreen;
	padding: 10px;
	vertical-align: middle;
}

p.form_done img {
	display: inline;
	height: 3em;
	vertical-align: middle;
	margin-right: 10px;
}

@media (max-width: 960px) {
	/*adjust for user agent stylesheets on mobile */
	body > header, nav, .about {
		margin: 0 -8px;
	}
}

/*HEADER STYLING*/

body > header {
	height: 80px;
}

body > header img {
	/*make img fit in header*/
	height: 60px;
	float: left;
	padding: 10px;
}

body > header .text {
	/*vertically center text in header*/
	display: inline-block;
	vertical-align: middle;
}

body > header h1 {
	/*adjust margins to fit in header */
	margin-top: 10px;
	margin-bottom: -10px;
}

/*NAV STYLING*/

nav h2 {
	/*for screen readers and outliners*/
	display: none;
}

nav ul {
	/*style to get horizontal menu bar*/
	list-style-type: none;
	padding: 0;
	margin: 0;
	overflow: hidden;
}

nav ul li a {
	/*styling on a element to make the whole block clickable*/
	float: left;
	display: block;
	padding: 16px;
	text-decoration: none; /* remove underlining */
	color: black;
}

nav ul li a:hover {
	background-color: rgba(0, 0, 0, 0.1);
	color: black; /* undo grey hovering on rest of body */
}

nav ul li a.active {
	background: rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
	nav ul li a {
		/*remove float to get a vertical menu and decrease padding*/
		float: none;
		padding: 8px 16px;
	}
}

/*FOOTER STYLING*/
footer {
	/*let it breathe a bit */
	display: block;
	clear: both;
	margin-top: 40px;
	margin-bottom: 20px;

	padding: 20px 0;

	border-top: solid 1px black;
}

footer address {
	display: inline-block;
	vertical-align: top;
	width: 49%;
}

footer small {
	display: inline-block;
	vertical-align: top;
	width: 49%;
	text-align: right;
}

/* COLUMNS */
.col {
	/* make news columns responsive */
	display: inline-block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	vertical-align: top;
	padding: 0 0.8% 0 0.8%;
}

.col img {
	/*style imgs in news columns to center on their own line*/
	display: block;
	width: 95%;
	margin: 0 auto;

	/*rounded corners*/
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.col p {
	text-align: justify;
}

/*different possibilities for spanning*/
.span_3_of_3 { width: 100%; }
.span_2_of_3 { width: 49%; }
.span_1_of_3 { width: 32.26%; }

@media (max-width: 480px) {
	/*responsive: columns become full width and get stacked*/
	.col {
		margin: 1% 0;
	}

	.span_1_of_3, .span_2_of_3, .span_3_of_3 {
		width: 100%;
	}
}
