$font-stack: Helvetica;
$primary-color: #d7d7d7;
$menuhover: rgba(0, 0, 0, 0.1);
$headercolor: rgba(0, 0, 0, 0.2);
$overlay: rgba(0, 0, 0, 0.25);

body {
	font: 100% $font-stack;
	//margin: -20px; // chrome body margin compensation
	//margin: 0;
	//margin-top: -20px;

	.content, main, nav, footer {
		max-width: 960px;
		margin-left: auto;
		margin-right: auto;
	}


	header {
		background-color: $headercolor;
		height: 80px;
		img {
			height: 60px;
			float: left;
			padding: 10px;
		}
		h1 {
			margin-bottom: -10px;
		}
	}

	nav {
		h2 {
			display: none; // screen readers and outliner
		}
		ul {
			list-style-type: none;
			padding: 0;
			margin: 0;
			overflow: hidden;
			li {
				a {
					float: left;
					display: block;
					padding: 25px 16px;
					text-decoration: none;
					color: black;
					&:hover {
						background-color: $menuhover;
					}
					:visited {

					}

					&.active {
						background-color: $headercolor;
					}
				}
			}
		}

		@media (max-width: 768px) {
			ul {
				li {
					a {
						float: none;
						padding: 8px 16px;
					}
				}
			}
		}
	}

	.about {
		height: 350px;
		background: url("../images/building.jpg") fixed center top;
		background-size: cover;
		padding: 20px;
		text-align: justify;

		color: white;
		.content {
			padding: 3px 10px;
			-webkit-border-radius: 10px;
			-moz-border-radius: 10px;
			border-radius: 10px;
			background-color: $overlay;
		}
	}

	a {
		color: black;
		text-decoration: none;
		article {
		}
	}

	/*  SECTIONS  */
	section {
		clear: both;
		padding: 0px;
		margin: 0px;
	}

	/*  COLUMN SETUP  */
	.col {
		display: block;
		float:left;
		margin: 0% 0 0% 1.6%;

		img {
			display: block;
			width: 95%;
			margin-left: auto;
			margin-right: auto;

			-webkit-border-radius: 10px;
			-moz-border-radius: 10px;
			border-radius: 10px;
		}

		p {
			text-align: justify;
		}
	}
	.col:first-child { margin-left: 0; }

	/*  GROUPING  */
	.group:before,
	.group:after { content:""; display:table; }
	.group:after { clear:both;}
	.group { zoom:1; /* For IE 6/7 */ }

	/*  GRID OF THREE  */
	.span_3_of_3 { width: 100%; }
	.span_2_of_3 { width: 66.13%; }
	.span_1_of_3 { width: 32.26%; }

	/*  GO FULL WIDTH BELOW 480 PIXELS */
	@media only screen and (max-width: 480px) {
		.col {  margin: 1% 0 1% 0%; }
		.span_3_of_3, .span_2_of_3, .span_1_of_3 { width: 100%; }
	}

	footer {

		margin-top: 40px;
		margin-bottom: 20px;

		border-top: solid 1px black;

		address {
			float: left;
		}
		small {
			float: right;
		}
	}
}